body{

    background-color:#072d21;
    color:white;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    margin: 10px
    
}
h1{
    font-size: 80px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}
h2,h3{
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
    color: hsl(199, 75%, 79%);
}
p{
    line-height: 2em;
}
img{
    border:5px;
    padding: 10px;
    margin: 20px;
    border-radius: 25px;
    width: 400px;
    height: auto;
}
nav{
    margin-top: 40px;
}
nav ul{
    font-size: 30px;
    display: grid;
    gap: 1px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 5px;

}
nav ul li{
	background-color: #232e27;
    color:rgb(165, 168, 166);
	padding:10px;
	border:1px solid rgb(255, 255, 255);
	border-radius: 10px 10px 0 0;
    text-align: center;
    cursor: pointer;
}
nav ul li:hover{
	/* background-color: #45935c; */
    background-color: black;
    color: white;
    
}

nav ul li a {
    display: block;
    text-decoration: none;
    color: inherit; /* Inherit text color from parent */
}


.active{
    color: hsl(0, 0%, 100%);
    text-transform: uppercase;
    background-color: #22614b;
}

.active:hover{
    color: hsl(0, 0%, 100%);
    text-transform: uppercase;
    background-color: #22614b;
}

.skip-to-main{
    position: absolute;
    left: -1000px; 
}
.skip-to-main:focus{
    left: 20px;
    top:10px;
}

@media (prefers-reduced-motion: reduce) {
    .animated-element {
        display: none;
    }
    .gif-element {
        display: none;
    }

}